a {
  font-size: 64px;
  font-weight: bold;
  color:black;
  text-decoration: none;
  &:hover {
    color: #d13533;
  }
}
nav {
  margin:0;
  background-color:#33cfd1;
  & a {
    text-decoration: none;
  }
}
.navWords {
  font-size:larger;
  font-weight: bold;
  color:black;
  margin-left: 30px;
  &:hover{
    color: #d13533;
    text-decoration: none;
  }
  &:focus{
    color: #d13533;
    text-decoration: none;
  }
  &.active{
    color: #d13533;
    text-decoration: none;
  }
}
.authPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}
.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}
