.wrapper {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
.itemFront{
  margin: 50px;
  text-align: center;
  h2{
    text-align: left;
  }
}
.discuss{
  list-style-type:none;
  margin: 10px;
  display: flex;
  align-items: flex-start;
}
