blockquote {
  width: 550px;
  background: #f1eded;
  padding: 20px;
  color: #000000;
  position: relative;
  font-family: 'Lato', sans-serif;
  text-align: center;
  & cite {
    font-size: 12px;
    font-style: normal;
    cursor: pointer;
    }
  &:before, &:after {
      position: absolute;
      height: 2px;
      left: 40px;
      right: 40px;
      background: linear-gradient(to right, #33cfd1 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #33cfd1 55%);
      font-family: serif;
    }
  &:before {
    content: "";
    top: 15px;
  }
  &:after {
    content: "";
    bottom: 15px;
  }
  & p {
    font-size: 20px;
    margin-top: 10px;
  }
  textarea {
    width: 525px;
  }
  div {
    float: right;
  }
  .imgUpdateDeleteSave {
    margin-left: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.authPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  .authItem {
    margin: 30px;
    font-size: 64px;
    text-decoration: none!important;
    font-weight: 900;
    color: #33cfd1;
    text-decoration: none;
    &:hover {
      color:#000000;
    }
  }
}
.authSignIn {
  margin: 0;
  font-size: 20px;
  text-decoration: none!important;
  font-weight: 900;

  text-decoration: none;
  &:hover {
    color:#000000;
  }
}
.authItem {
  margin: 30px;
  font-size: 64px;
  text-decoration: none!important;
  font-weight: 900;
  color: #33cfd1;
  text-decoration: none;
  &:hover {
    color:#000000;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemFront {
  margin: 0 80px 20px 80px;
  text-align: center;
  p {
    text-align: left;
    font-size: 20px;
  }
  button {
    margin-top: 10px;
  }
  textarea {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    width: 100%;
  }
  h1 input {
    width: 100%;
    font-size: 20px;
  }
  .chatPost{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textareaEdit {
    width: 1195px;
    border: 1px solid #33cfd1;
  }
  .buttons {
    width: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
  .creator {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
  }
}
.sendMessage {
  text-align: center;
  input {
    width: 370px;
    font-size: 18px;
    margin-bottom: 200px;
  }
}
.createItem {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 800px;
  font-size: 18px;
  input {
    width: 710px;
    font-size: 18px;
  }
  div {
    margin: 10px;
  }
  textarea {
    font-size: 18px;
  }
  button {
    margin: 20px;
    border-radius: 12px;
  }
}
.isAuthMessage {
  text-align: center;
}
.likeDislike {
  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  span {
    margin: 5px
  }
}
